<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise Management System</title>
</head>
<body class="min-h-screen bg-black text-white"
      th:style="'background-image:
        linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.50)),
        url(' + @{/images/R8.jpg} + ');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        background-attachment:fixed;'">


     <div class="flex min-h-screen">
         <aside th:replace="layout/layout :: sidebar"></aside>
     </div>

</body>
</html>